Source: openmediavault-flashmemory
Section: net
XB-Plugin-Section: filesystems
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://omv-extras.org/

Package: openmediavault-flashmemory
Architecture: all
Provides: fs2ram
Conflicts: fs2ram
Replaces: fs2ram
Depends: folder2ram (>= 0.3.1),
         openmediavault (>= 3.0.40),
         ${misc:Depends}
Description: folder2ram plugin for OpenMediaVault
 folder2ram manages temporary file systems across reboots, to decrease writes on permanent storage.
 This allows the installation of OMV on flash thumb drives and SD cards.
