Source: openmediavault-flashmemory
Section: net
XB-Plugin-Section: filesystems
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper-compat (= 14), dh-sequence-single-binary
Standards-Version: 4.7.2
Homepage: http://omv-extras.org/

Package: openmediavault-flashmemory
Architecture: all
Depends: openmediavault (>= 7.4),
         ${misc:Depends}
Description: zram-config plugin for openmediavault
 zram-config manages temporary file systems across reboots, to decrease
 writes on permanent storage.
 This allows the installation of OMV on flash thumb drives and SD cards.
