{{ pillar['headers']['multiline'] }}
#<type>		<mount point>		<options>
tmpfs		/var/log
tmpfs		/var/tmp
tmpfs		/var/lib/openmediavault/rrd
tmpfs		/var/spool
tmpfs		/var/lib/rrdcached/
tmpfs		/var/lib/monit
tmpfs		/var/lib/php		#keep_folder_structure   folder2ram does not have an equivalent yet
tmpfs		/var/lib/netatalk/CNID
tmpfs		/var/cache/samba
